@media (max-width: 769px) {
  .container {
    margin: 0 var(--gap_768);
    padding: 0;
  }

  /* HEADER */
  .header-container {
    min-height: 69px;
  }

  .nav {
    position: absolute;
    top: 0;
    left: -470px;
    width: 420px;
    height: 100vh;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .header.nav--open .nav {
    transform: translateX(100%);
  }

  .nav__list {
    display: block;
    padding-top: 170px;
    padding-left: 50px;
    background-color: var(--white);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
  }

  .nav__item {
    padding-bottom: 60px;
  }

  .nav__link {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .btn-loupe {
    width: 3.5%;
  }

  .searh {
    top: 4px;
  }

  /* HERO */

  .container-hero {
    min-height: 662px;
    margin-bottom: 35px;
  }

  .swiper-img {
    border-radius: 24px;
  }

  .hero__content {
    padding-top: 160px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 26px;
    left: 10px;
  }

  /* ABOUT */
  .about__descr {
    margin-bottom: 54px;
  }

  .about__cards-wrapper {
    flex-wrap: wrap;
  }

  .about__big-card {
    margin-right: 0;
    margin-bottom: 32px;
    min-height: 650px;
    border-radius: 24px;
  }
  .big-card__inner {
    padding: 0 40px;
  }

  .big-card__descr {
    width: 61%;
    border-radius: 24px;
  }

  .about__small-card {
    padding: 4.9% 2% 5.6% 25.2%;
    background-size: 17%;
    background-position: 7.1% 48%;
    border-radius: 24px;
  }
  .small-card__img {
  }

  /* HOW */
  .how {
    margin-bottom: 50px;
  }

  .how__title {
    margin-bottom: 48px;
  }

  .tab-item--activate {
    flex-direction: column-reverse;
  }

  .how__tabs-nav {
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .tab-item__content {
    width: 100%;
  }

  .tab-item__content-descr {
    margin-bottom: 26px;
  }

  .tab-item-text {
    min-height: 476px;
    margin-right: 0;
  }

  .tab-item__btn {
    padding: 20px 38px;
  }

  .tab-item__content-img {
    width: 100%;
    max-height: 284px;
    margin-bottom: 37px;
    padding: 0;
    border-radius: 24px;
  }

  .faq {
    margin-bottom: 114px;
  }

  .footer-nav {
    display: none;
  }

  .footer-container {
    flex-direction: column-reverse;
  }

  .footer__logo {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .left-block {
  }

  .center-block {
    width: 81%;
    margin-bottom: 51px;
  }

  .form-request {
    padding-top: 50px;
  }
}
