@media (max-width: 769px) {
  .container {
    max-width: 668px;
    min-width: 320px;
    margin: 0 var(--gap_768);
    padding: 0;
  }

  /* HEADER */
  .header-container {
    min-height: 69px;
  }

  .header__burger-btn {
    display: block;
    z-index: 2;
  }

  .header__logo {
    margin: 0;
    width: 150px;
  }

  .btn-loupe {
    margin: 0;
  }

  .nav {
    position: absolute;
    top: 0;
    left: -470px;
    width: 420px;
    height: 100vh;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .header.nav--open .nav {
    transform: translateX(100%);
  }

  .nav__list {
    display: block;
    padding-top: 170px;
    padding-left: 50px;
    background-color: var(--white);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
  }

  .nav__item {
    padding-bottom: 60px;
  }

  .nav__link {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  /* HERO */

  .swiper-img {
    border-radius: 24px;
  }

  .hero__content {
    padding-top: 160px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
  }

  .hero__btn {
    margin-bottom: 160px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
    left: 10px;
    margin-bottom: 59px;
  }
}
