 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


:root {
    --color-white:#fff;
    --default: #FF9900;
    --hover-focus: #FFB84D;
    --active: #E1670E; 
    --bg-body:#E5E5E5;
    --gap_1920: 65px;
}

html {
    box-sizing: border-box;
  }
  
body {
    background-color: var(--bg-color);
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
*:focus-visible {
    outline: none;
}
  
a {
    color: inherit;
    text-decoration: none;
}
  
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
  
img {
    max-width: 100%;
}
  
input,
select {
    border: none;
}

/* global */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;
}

.container {
    min-width: 320px;
    margin: 0 var(--gap_1920)

}

/* ================================== GLOBAL ========================================== */

.btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-white);
    background-color: var(--default);
    border: 1px solid var(--main-lnk-color);
    border-radius: 16px;
    padding: 20px 38px;
    cursor: pointer;
}


/* ================================== HEADER ========================================== */

.header {
    min-height: 100px;
    margin-bottom: 50px;
    background-color: #FFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 32px 32px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 14px;
}
.header-logo {
    margin-right: 553px;
}

.header-nav {
    width: 708px;
    margin-right: 260px;
}
.header-nav__list {
    display: flex;
    justify-content:space-between;
}

.header-nav__item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border-bottom: 2px solid transparent;
    transition: border-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.header-nav__item:focus {
    outline: 2px solid var(--hover-focus);
}

.header-nav__item:hover {
    border-color: var(--hover-focus);
}

.header-nav__item:active {
    border-color: var(--active);
    color: var(--active);
}

.header-search__icon {
    cursor: pointer;
}

.header-search__icon:hover rect{
    transition: fill .5s ease-in-out;
    fill: var(--hover-focus);
}

.header-search__icon:hover path {
    transition: stroke .5s ease-in-out;
    stroke: var(--hover-focus);
}

.header-search__icon:focus {
    outline: 2px solid var(--hover-focus);
}


/* ================================== HERO ========================================== */

.hero {
    min-height: 620px;
    margin: 0 auto 50px auto;
    
}

.hero__bg-wrapper {
    position: relative;
}

.hero__bg-img{
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    border-radius: 32px;
}

.hero-content {
    padding: 100px 853px 100px 80px;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 853px;
}

.hero-content__titel {
    margin-bottom: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: var(--color-white);
}

.hero-content__descr {
    margin-bottom: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-white);
}

.hero-content__btn {
    padding: 25px 39px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
}

/* .hero-content__pagination {

} */

/* ================================== ABOUT ========================================== */

.about {
    margin-bottom: 100px;
}

.about-header {
    max-width: 1235px;
    margin-bottom: 50px;
}

.about-header__title {
    margin-bottom: 20px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 400;
    line-height: 59px; 
}

.about-header__descr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.about-content {
    display: flex;
}

.about-content-big-card {
    position: relative;
    margin-right: 32px;
}

.about-content-big-card__bg-wrapper {
    max-width: 868px;
    max-height: 622px;
}

.about-content-big-card__details {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    left: 0;
    top: 426px;
    width: 100%;
    padding-left: 50px;
    min-height: 196px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
}

.about-content-big-card__descr {
    max-width: 433px;
    margin-right: 160px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}


.about-content-big-card__btn {
    padding: 18px 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: transparent;
    border: 3px solid #FF9900;
    border-radius: 16px;
    
}

.about-content-small-card {
    display: flex;
    padding: 65px 80px 65px 60px;
    width: 870px;
    height: 295px;
    margin-bottom: 32px;
    border: 1px solid #CACACA;
    border-radius: 32px;
    background-color: var(--color-white);
}

.about-content-small-card:last-child {
    margin-bottom: 0;
}

.about-content-small-card__icon-wrapper {
    min-width: 190px;
    margin-right: 50px;
}

.about-content-small-card_descr-title {
    margin-bottom: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.about-content-small-card__descr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

/* ================================== ABOUT ========================================== */

.how {
    margin-bottom: 110px;
}

.how_title {
    margin-bottom: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.how__step-list {
    display: flex;
    margin-bottom: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.how__step-item:not(:last-child) {
    margin-right: 85px;
}

.how-details {
    display: flex;
}

.how-details___title {
    margin-bottom: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}


.how-detalis-wrapper {
    max-width: 758px;
    margin-right: 142px;
    
}
.how-details__desr {
    margin-bottom: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.how-details__img {
    width: 870px;
    height: 460px;
    
}

.btn-more {
    margin-right: 30px;
}

.btn-contract {
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

/* ================================== FAQ ========================================== */

.faq {
    margin-bottom: 100px;
}

.faq__title {
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
}

.faq-list__item {
    min-height: 112px;
    padding-top: 30px;
    align-items: center;
    border-top: 1px solid #CACACA;

}

.faq-list__item-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.faq-list__item:last-child {
    border-bottom: 1px solid #CACACA;
}

.faq-list__item-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

/* ================================== FOOTER ========================================== */

.footer {
    background-color: #000;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    padding-top: 45px;
}

.footer-left {
    margin-right: 350px;
}

.footer__logo {
    margin-bottom: 15px;
}

.footer-nav__item a {
    margin-bottom: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #CACACA;
}

.footer-nav__item:last-child {
    margin-bottom: 90px;
}

.social-ok {
    margin-right: 23px;
}

.footer-center {
    width: 570px;
    margin-right: 236px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
}

.feedback-form__title {
    margin-bottom: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
}

.feedback-form__name {
    margin-bottom: 25px;
}

.feedback-form__mail {
    margin-bottom: 25px;
}

.feedback-form__name {
    height: 60px;
    align-items: center;
    padding-left: 24px;
    background: #414141;
    border-radius: 16px;
}

.feedback-form__mail {
    height: 60px;
    padding: 0;
    align-items: center;
    padding-left: 24px;
    background: #414141;
    border-radius: 16px;
}

.feedback-form__msg {
    height: 150px;
    padding: 0;
    padding-top: 14px;
    padding-left: 24px;
    resize: none;
    background: #414141;
    border: none;
    border-radius: 16px;
}

.footer-right__descr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-right {
    max-width: 363px;
    padding-top: 88px;
}

.feedback-form__btn {
    padding: 19px 52px;
    margin-right: 20px;
}


.feedback-form__msg {
    margin-bottom: 32px;
    background-color: transparent;
}
.feedback-form__approval-label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}