@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("/fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("/fonts/Montserrat-ExtraBold.woff") format("woff");
}

/* ================================== GLOBAL ========================================== */

:root {
  --bg-body: #e5e5e5;
  --orange: #ff9900;
  --light-orange: #ffb84d;
  --dark-orange: #e1670e;
  --light-green: #97ee3f;
  --white: #fff;
  --light-grey: #cacaca;
  --medium-grey: #666;
  --dark-grey: #414141;
  --dark: #000;
  --gap_1920: 65px;
  --gap_1024: 50px;
  --gap_768: 50px;
  --gap_320: 15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: none;
}

html {
  box-sizing: border-box;
  background-color: var(--bg-body);
  font-family: "Montserrat", "sans-serif";
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  border: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  background-color: transparent;
}

.flex {
  display: flex;
}

.display-none {
  display: none;
}

.container {
  min-width: 320px;
  margin: 0 var(--gap_1920);
}

.btn {
  padding: 20px 38px;
  border-radius: 16px;
}

/* HEADER */
.header {
  margin-bottom: 50px;
  background-color: var(--white);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.header-container {
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}

.header__burger-btn {
  display: none;
  position: relative;
  height: 23px;
  width: 30px;
  background-color: transparent;
  cursor: pointer;
}

.burger-btn__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--dark);
  transition-property: transform, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.burger-btn__line:nth-child(1) {
  transform: translateY(10px);
}

.burger-btn__line:nth-child(3) {
  transform: translateY(-10px);
}

.header__logo {
  margin-right: 368px;
  cursor: pointer;
}

.nav {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 2;
}

.nav__list {
  flex-wrap: wrap;
}

.nav__item {
  position: relative;
  margin-right: 85px;
}

.nav__item::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  height: 2px;
  width: 0;
  transform: translate(-50%);
  background-color: var(--orange);
  transition-property: width, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.btn-loupe {
  cursor: pointer;
}

.nav__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.searh {
  justify-content: space-between;
  position: absolute;
  content: "";
  top: 20px;
  right: -100%;
  width: 539px;
  height: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 32px;
  padding-right: 13px;
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  transition-property: right;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.header.searh--open .searh {
  right: 0;
  /* transform: translateX(200%); */
}

.searh__input {
  width: 412px;
  border-bottom: 1px solid black;
}

.searh__loupe {
  margin-right: 20px;
  cursor: pointer;
}

.closed__search {
  cursor: pointer;
}

/* hero */

.container-hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 52px;
}

.swiper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.swiper-img {
  width: 100%;
  height: 100%;
  border-radius: 32px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--light-grey);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 25px;
  left: 10px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet:not(:last-child) {
  margin: 0;
  margin-right: 20px;
}

.hero__content {
  position: relative;
  top: 0;
  max-width: 895px;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 80px;
  z-index: 1;
  pointer-events: none;
}

.hero__title {
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white);
}

.hero__descr {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white);
}

.hero__btn {
  padding: 24px 40px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 16px;
  pointer-events: all;
  cursor: pointer;
}

.footer {
  margin-bottom: 500px;
}

/* ABOUT */
.about__cards-wrapper {
  width: 100%;
}
.about__title {
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--dark);
}
.about__descr {
  margin-bottom: 45px;
  max-width: 1235px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark);
}

.about__big-card {
  align-items: flex-end;
  margin-right: 32px;
  width: 100%;
  background-image: url(../img/img_1920/about_1920.jpg);
  background-size: cover;
  border-radius: 32px;
}

.big-card__inner {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 196px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.big-card__descr {
  max-width: 433px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.big-card__btn {
  border: 1px solid var(--orange);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}

.abaut__small-cards-wrapper {
  flex-direction: column;
  width: 100%;
}

.about__small-card {
  flex-wrap: wrap;
  align-items: center;
  padding: 0 58px;
  width: 100%;
  min-height: 295px;
  border: 1px solid var(--light-grey);
  border-radius: 32px;
}

.about__small-card:not(:last-child) {
  margin-bottom: 32px;
}

.small-card__img {
  margin-right: 50px;
}

.small-card__inner {
  flex-direction: column;
}

.small-card__title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--dark);
}

.small-card__descr {
  max-width: 450px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark);
}
