@media (max-width: 1025px) {
  /* ================================== HEADER ========================================== */
  .header {
    margin-bottom: 40px;
  }

  .header.open .nav{
    transform: translateX(100%);
  }

  .container {
    min-width: 320px;
    max-width: 924px;
    margin: 0 auto;
  }

  .nav {
    position: absolute;
    width: 420px;
    height: 100vh;
    left: -420px;
    top: 0;
    margin-right: 0;
    background-color: var(--white);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
  }

  .nav__list {
    display: block;
    padding-top: 100px;
  }

  .nav__item {
    padding-left: 50px;
  }

  .nav__link {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .burger-btn {
    display: block;
    z-index: 2;
  }

  .header.open .burger-btn__line:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .header.open .burger-btn__line:nth-child(2) {
    opacity: 0;
  }

  .header.open .burger-btn__line:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .header__logo {
    margin-right: 0;
    width: 150px;
  }

/* ================================== HEADER ========================================== */


/* ================================== HERO ========================================== */
  .hero__bg {
    margin-bottom: 40px;
    padding: 160px 0 100px 77px;
    background-image: url(../img/img_1024/hero_1024.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
  }

  .hero__inner {
    max-width: 770px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
  }
  .hero__descr {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__btn {
    margin-bottom: 58px;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
  }
/* ================================== HERO ========================================== */


/* ================================== ABOUT ========================================== */

  .about-content {
    margin-bottom: 80px;
  }

  .about__descr {
    margin-bottom: 60px;
  }

  .about-content__cards {
    width: 100%;
  }

  .about-content__cards:not(:nth-child(2n)) {
    margin: 0;
  }

  .big-card {
    min-height: 640px;
    background-image: url(../img/img_1024/about_1024.png);
  }

  .small-card {
    padding-left: 75px;
  }

/* ================================== ABOUT ========================================== */


/* ================================== HOW ========================================== */
.how__container {
  margin-bottom: 80px;
}
.how__step-list {
  margin-bottom: 50px;
}

.how-content * {
  width: 49%;
}

.how-content::before {
  width: 47%;
  top: 10px;
  background-image: url(../img/img_1024/how_1024.jpg);
}

.how-content__descr {
  margin-bottom: 24px;
}
/* ================================== HOW ========================================== */


/* ================================== FAQ ========================================== */
  .faq-btn {
    padding: 30px 0;

  }
  .faq-btn__title {
    max-width: 756px;
    font-size: 20px;
    text-align: left;
  }


/* ================================== FAQ ========================================== */
  /* FOOTER */
  .footer__descr {
    display: none;
  }

  .about-content {
    flex-wrap: wrap;
  }
  /* FOOTER */
}
